@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "CustomRtlFont";
  src: url("/app/[locale]/fonts/Bahij-Helvetica-Neue-45-Light.woff2")
      format("woff2"),
    url("/app/[locale]/fonts/Bahij-Helvetica-Neue-45-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Plus Jakarta", sans-serif; /* Default font for English */
}

.rtl-font {
  font-family: "CustomRtlFont", sans-serif; /* Custom font for RTL languages */
}
